* {
  margin: 0;
  padding: 0;
}
body {
  font-family: georgia;
  font-size: 25px;
  line-height: 1.5;
}
header {
  background: url(http://guardsmanbob.com/data/Wallpapers/wallpaper-1162819.jpg);
}
header h1 {
  height: 500px;
  line-height: 400px;
  color: #ff2244;
  font-family: helvetica, arial, sans-serif;
  font-size: 150px;
  text-align: center;
  text-shadow: 0 0 17px #33FF77;
}
section,
aside {
  width: 75%;
  margin: 2em auto;
}